@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
:root {
    --dateSize: 50px;
}

body { 
    font-family: 'Montserrat', sans-serif;
}
.head {
    background: linear-gradient(to right, #FF621F, #AC25FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description {
    font-weight: 700;
    display: flex;
    font-size: 8vw;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 0px;
}
.calendar {
    display: grid;
    font-weight: 900;
    text-transform: uppercase;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}
/* .month {
} */
.month__title {
    font-size: 34px;
    color: #281533;
    margin-bottom: 13.6px;
}
.month__name {
    font-size: 23px;
    color: #B414FF;
    margin-bottom: 16.9px;
}
.month__content {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
}
.month__date {
    width: var(--dateSize);
    height: calc(var(--dateSize)/2);
    background-color: #f7f6f6;
    display: flex;
    color: #83818E;
    justify-content: center;
    align-items: center;
}

.month__date_accent {
    color: #E6007E;
}

